.logo-icon {
  height: 61px;
  width: 55px;
  position: relative;
  object-fit: cover;
}
.achievements,
.home {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
}
.home {
  flex: 1;
}
.achievements {
  width: 96px;
  display: inline-block;
  flex-shrink: 0;
  cursor: pointer;
}
.nav-links {
  margin: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 60px;
  text-align: left;
  font-size: var(--body-medium-size);
  color: var(--neutral-bg);
  font-family: var(--body-medium);
}
.login {
  text-decoration: none;
  position: relative;
  line-height: 20px;
  font-weight: 500;
  color: inherit;
}
.auth-buttons,
.header,
.login-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header {
  min-width: 100vw;
}
.login-wrapper {
  border-radius: var(--br-21xl);
  background-color: var(--color-gray-200);
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-lg);
}
.auth-buttons,
.header {
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.header {
  position: relative;
  background-color: var(--color-gray-200);
  border-bottom: 1px solid var(--color-peru-100);
  box-sizing: border-box;
  width: 100%;
  padding: var(--padding-sm) var(--padding-77xl);
  gap: var(--gap-117xl-5);
  z-index: 10;
  text-align: left;
  font-size: var(--body-medium-size);
  color: var(--color-peru-100);
  font-family: var(--body-medium);
}
